body, main, header, div, form,
input, textarea, ul, li,
h1, h2, h3, h4, h5,
p, a, button {
  margin          : 0;
  border          : 0;
  padding         : 0;
  outline         : 0;
  box-sizing      : border-box;
  font            : inherit;
  text-decoration : inherit;
  text-align      : inherit;
  color           : inherit;
  background      : transparent;
}
/*************
VARIABLES
*************/
$border-primary   : 1px solid rgba(0, 0, 0, .12);
$border-secondary : 1px solid rgba(0, 0, 0, .07);
$red-primary      : #ED1C40;
$main-max-width   : 990px;
/**************************
GLOBAL
**************************/
body {
  font-size   : 16px;
  line-height : 1.45;
  font-family : Helvetica;
  font-weight : 400;
  background  : #FAFAFA;
}

body.white-background {
  background-color: #FFF
}

h1, h2, h3 {
  font-weight : 600;
}

a, a:active, a:hover,
a:link, a:visited {
  color   : #1f24cc;
  cursor  : pointer;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor        : pointer;
  color         : #fff;
  border-radius : 3px;
  padding       : 0 16px;
  margin-bottom : 16px;
  font-weight   : 600;
  line-height   : 1;
  background    : $red-primary;
  border-color  : $red-primary;
  border        : $border-primary;
  stroke        : transparent;
  vertical-align: middle;
  min-height    : 36px;
  text-align    : center;
  &:hover {
    background-color: darken($red-primary, 10%);
  }
}
.hide {
  display: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear  : both;

}
.full {
  width: 100%;
}
/**************************
HEADER
**************************/
header {
  background    : #FFF;
  padding       : 4px 16px 0 20px;
  border-bottom : $border-primary;
  li {
    float           : left;
    list-style      : none;
    padding         : 9px 0 0 16px;
    line-height     : 1;
    vertical-align  : middle;
    &.nav-logo {
      margin-top          : 12px;
      background-image    : image-url("logo.svg");
      background-repeat   : no-repeat;
      background-size     : cover;
      cursor              : pointer;
      padding             : 8px;
      height              : 100%;
      color               : rgba(0, 0, 0, 0);
      &::selection {
        color : rgba(0, 0, 0, 0);
      }
    }
    .nav-link {
      font-size: 13px;
      color    : rgba(0,0,0,0.54);
      &:hover {
        text-decoration: none;
      }
      span {
        font-weight : 600;
        display     : block;
        color       : $red-primary;
        font-size   : 21px;
      }
    }
  }
  .nav-left {
    float         : left;
    margin-bottom : 11px;
  }
  .nav-right {
    position      : relative;
    float         : right;
    padding-right : 16px;
    a {
      font-size   : 17px;
      margin-top  : 8px;
      display     : block;
      padding     : 4px 16px 0 16px;
    }
    button {
      padding : 10px 16px 8px 16px;
    }
    .user-menu {
      position      : absolute;
      right         : 0;
      background    : white;
      font-size     : 16px;
      width         : 512px;
      margin-top    : 12px;
      border-radius : 3px;
      padding       : 0 10px;
      border        : $border-primary;
      box-shadow    : rgba(0, 0, 0, 0.54) 0 3px 8px 0;
      &:after, &:before {
        content      : ".";
        position     : absolute;
        top          : -10px;
        right        : 52px;
        display      : block;
        width        : 0;
        height       : 0;
        font-size    : 0;
        line-height  : 0;
        border-style : solid;
        border-width : 0 10px 10px;
        border-color : transparent transparent #FFF;
      }
      &:before {
        border-color : transparent transparent rgba(0, 0, 0, .12);
        margin-left  : -1px;
        margin-top   : -1px;
      }
      ul {
        float      : left;
        margin-top : 5px;
        li {
          border-bottom : $border-primary;
          float         : none;
          padding       : 12px 20px;
          margin        : 0;
          cursor        : pointer;
          &:last-child {
            border-bottom: none;
          }
          &:hover {
            background : $red-primary;
            color      : #FFF;
          }
        }
      }
      .logout { float: right; }
      .logout li { border-bottom: none; }
    }
    .user-avatar {
      width      : 50px;
      height     : 32px;
      margin-top : 12px;
      position   : relative;
      cursor     : pointer;
      &:after {
        font-family : FontAwesome;
        color       : rgba(0, 0, 0, .54);
        font-size   : 10px;
        content     : "\f078";
        position    : absolute;
        right       : 1px;
        top         : 10px;
        cursor      : pointer;
      }
      img {
        width         : 32px;
        border-radius : 100%;
      }
    }
  }
}
/**************************
MAIN CONTENT
***************************/
/**************************
FORMS
***************************/
.errors {
  border-radius     : 3px;
  border            : $border-secondary;
  border-bottom     : 1px solid rgba(0, 0, 0, .20);
  background        : #FBE1E3;
  max-width         : 720px;
  margin            : 32px auto 48px;
  padding           : 16px 32px 16px;
  h2 {
    color       : #C00;
    font-size   : 34px;
  }
  p {
    color    : #222;
  }
}
.form-header {
  border                     : $border-primary;
  border-radius              : 3px;
  border-bottom-left-radius  : 0;
  border-bottom-right-radius : 0;
  max-width                  : 460px;
  padding                    : 16px 16px 0;
  margin                     : auto;
  margin-top                 : 32px;
  background                 : #FFF;
  h1 {
    color       : #E51937;
    font-size   : 42px;
  }
  p {
    font-size    : 13px;
    line-height  : 1.6;
    font-weight  : 600;
    margin-bottom: 16px;
  }
}

.form {
  background     : #FFF;
  display        : block;
  margin         : 0 auto 16px;
  border         : $border-primary;
  border-top     : none;
  border-bottom  : 1px solid rgba(0, 0, 0, .26);
  max-width      : 460px;
  padding        : 16px 16px 0;
  p {
    font-size    : 13px;
    line-height  : 1.6;
    font-weight  : 600;
    &.error {
      margin     : 4px 4px 8px;
      padding    : 4px;
      font-size  : 16px;
      color      : #C00;
      font-weight: 400;
    }
  }
  input {
    width        : 100%;
    background   : #FAFAFA;
    border-radius: 3px;
    border       : $border-primary;
    display      : block;
    line-height  : 1.45;
    padding      : 4px;
    margin-bottom: 16px;
    color        : rgba(0, 0, 0, .87);
    &:focus {
      background   : #FFF;
      border-color : #1f24cc;
    }
  }
}
.form-signup {
  border      : none;
  margin-top  : 32px;
  p.error {
    color       : #FF911A;
    margin-top  : -16px;
    font-weight : 300;
  }
  .error-input {
    border-color : #FF911A;
  }
  .form-footer {
    p {
      font-size   : 13px;
      font-weight : 400;
      text-align  : center;
    }
    div {
      border-top  : $border-primary;
      margin-top  : 16px;
      padding     : 16px 0;
    }
  }
}

form.form-group {
  max-width : 840px;
  width     : 100%;
  border    : none;
  textarea {
    width         : 100%;
    height        : 200px;
    border-radius : 3px;
    border        : $border-primary;
    background    : #FAFAFA;
  }
  select {
    display        : block;
    margin-bottom  : 20px;
  }
  .form-group-one, .form-group-two, .form-group-three {
    border-bottom   : $border-primary;
    padding         : 37px 90px 36px 90px;
    position        : relative;
    h2 {
      font-size     : 28px;
      font-weight   : 400;
      margin-bottom : 16px;
    }
    p {
      color          : rgba(0,0,0,.26);
      font-size      : 13px;
      line-height    : 1.6;
      text-transform : uppercase;
    }
    p.error {
      color          : #FF911A;
      font-size      : 16px;
      font-weight    : 300;
      text-transform : none;
    }
    .error-input {
      border-color : #FF911A;
    }
  }
  .form-group-one::before {
    width             : 50px;
    height            : 50px;
    content           : "";
    background-image  : image-url("create-group-form-one.svg");
    display           : block;
    background-size   : cover;
    padding-bottom    : 2px;
    position          : absolute;
    left              : 17px;
  }
  .form-group-two::before {
    width             : 50px;
    height            : 50px;
    content           : "";
    background-image  : image-url("create-group-form-two.svg");
    display           : block;
    background-size   : cover;
    padding-bottom    : 2px;
    position          : absolute;
    left              : 17px;
  }
  .form-group-three {
    border-bottom : none;
    ul {
      padding-left   : 18px;
      padding-bottom : 20px;
      line-height    : 1.45;
    }
    &::before {
      width             : 50px;
      height            : 50px;
      content           : "";
      background-image  : image-url("create-group-form-three.svg");
      display           : block;
      background-size   : 96%;
      padding-bottom    : 2px;
      position          : absolute;
      left              : 17px;
      background-repeat : no-repeat;
    }
  }
}

/***********************
GROUPS
***********************/
.group-hero-user {
  width      : 100%;
  height     : 180px;
  background : $red-primary;
  h1 {
    text-align  : center;
    font-size   : 34px;
    color       : #FFF;
    padding-top  : 32px;
  }
}
.group-hero-guest {
  width            : 100%;
  height           : 415px;
  background-image : image-url("group-index-hero");
  color            : #FFF;
  background-size  : cover;
  h1 {
    padding-top : 32px;
    text-shadow : 1px 1px 0 rgba(0,0,0,.54);
    font-size   : 42px;
    line-height : 1.25;
    margin-left : 200px;
  }
  h2 {
    padding-bottom: 16px;
    margin-top    : 4px;
    margin-left   : 200px;
    line-height   : 1.25;
    font-weight   : 400;
    font-size     : 20px;
    text-shadow   : 1px 1px 0 rgba(0,0,0,.54);
  }
  button {
    color       : #000;
    background  : #FFF;
    border      : none;
    margin-left : 200px;
    &:hover {
      background-color: darken(#FFF, 10%);
    }
  }
}
.group-hero-form {
  text-align        : center;
  color             : #FFF;
  background-image  : image-url('group-form-hero.jpg');
  background-size   : cover;
  background-repeat : no-repeat;
  width             : 100%;
  height            : 275px;
  .logo {
    background-image   : image-url('logo.svg');
    background-repeat  : no-repeat;
    background-size    : cover;
    width              : 75px;
    height             : 50px;
    margin             : 0px auto 48px;
    cursor             : pointer;
    position           : relative;
    top                : 30px;
  }
  h1 {
    font-size     : 42px;
    margin-bottom : 16px;
    font-weight   : 400;
  }

}
.groups {
  max-width : $main-max-width;;
  width     : 100%;
  margin    : 36px auto;
  .group-wrap {
    width  : 31.7%;
    float  : left;
    height : 180px;
    margin : 0 8px;
    cursor : pointer;
    .group {
      position         : relative;
      padding          : 0 8px;
      width            : 100%;
      height           : 100%;
      background-image : image-url("placeholder.jpeg");
      color            : #FFF;
      .group-title {
        position   : absolute;
        bottom     : 16px;
        h3 {
          font-size : 20px;
        }
        p {
          color     : rgba(255,255,255,.7);
          font-size : 13px;
        }
      }
      .group-link {
        font-size  : 20px;
        position   : absolute;
        bottom     : 8px;
        right      : 16px;
      }
    }
  }
}

.group-detail {
  max-width: $main-max-width;
  margin   : 16px auto;
  header {
    border-bottom-left-radius   : 3px;
    border-bottom-right-radius  : 3px;
    border                      : $border-secondary;
    border-bottom               : $border-primary;
    margin                      : 16px 0;
    padding                     : 0;
    h1 {
      padding-left   : 5px;
      font-size      : 42px;
      border-bottom  : 5px solid $red-primary;
    }
    nav {
      width   : 100%;
      padding : 0 5px;
      .left-nav {
        float        : left;
        padding-left : 0;
        li {
          cursor       : pointer;
          padding-left : 5px;
          max-height   : 36px;
          button {
            background  : #FFF;
            color       : rgba(0, 0, 0, .5);
            font-weight : 400;
            border      : none;
            &:hover {
              background : $red-primary;
              color      : #FFF;
            }
          }
          &.selected button {
            background: $red-primary;
            color     : #FFF;
          }
        }
      }
      .right-nav {
        float         : right;
        padding-right : 16px;
        max-height    : 53px;
      }
    }
  }
  .group-sub-title {
    border-bottom : $border-primary;
    h2 {
      font-size    : 20px;
      font-weight  : 400;
      padding      : 8px 0 8px 16px;
    }
  }
  aside {
    float         : left;
    border-radius : 3px;
    width         : 200px;
    border        : $border-secondary;
    border-bottom : $border-primary;
    margin-right  : 11px;
    .group-detail-image {
      margin-top    : 16px;
      border-bottom : $border-primary;
    }
    ul {
      padding : 16px;
      li {
        &:first-child {
          margin : 0 0 16px;
          line-height: 1.25;
        }
        .location {
          font-size : 16px;
          color     : $red-primary;
        }
        color: rgba(0, 0, 0, .87);
        font-size: 13px;
        &.clickable {
          cursor: pointer;
          &:hover {
            color: $red-primary;
          }
        }
        list-style: none;
        .group-detail-stats {
          float: right;
        }
      }
    }
    .group-detail-moderator {
      border-top : $border-primary;
      h3 {
        font-weight  : 300;
        padding-left : 16px;
        padding-top  : 8px;
      }
      p {
        color         : $red-primary;
        text-align    : center;
        margin-bottom : 8px;
      }
      button {
        display          : block;
        text-align       : center;
        background-color : #FFF;
        margin           : 0 auto 16px;
        &:hover {
          background-color : darken(#FFF, 10%);
        }
        a {
          color     : $red-primary;
          font-size : 13px;
          &:hover {
            text-decoration: none;
          }
          .fa {
            margin-right : 8px;
          }
        }
      }
    }
  }
  section {
    float         : left;
    border-radius : 3px;
    width         : 711px;
    border        : $border-secondary;
    border-bottom : $border-primary;
    .members-list {
      padding: 16px;
      .member {
        border-bottom : $border-primary;
        line-height   : 1.45;
        list-style    : none;
        font-size     : 13px;
        color         : rgba(0, 0, 0, .87);
        padding       : 16px 0;
        &:first-child {
          border-top  : $border-primary;
        }
        p {
          padding-left: 68px;
        }
        .name {
          font-size : 16px;
          color     : $red-primary;
        }
      }
    }
  }
}
